/*
 * partition
 */
* html * {   zoom:100%;    }

body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 0.8em;
    }
* {margin:0; padding:0;}
div#container {
    min-width:700px;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    } /* centers layout when > max width */

body {background-color:#666666;}
#container {
    background-color:#FFF;
    border: 1px solid #CCFF00;
    }

div#header {
    width:auto;
    }
#threecolwrap {
    float:left;
    width:100%;
    }
#twocolwrap {
    float:left;
    width:100%;
    display:inline;
    margin-right:-107px;
    }
#left {
    float:left;
    width:107px;
    display:inline;
    }
#content {
    width:auto;
    margin-left:107px;
    margin-right:107px;
    min-height:450px;
    height: auto !important;
    height: 450px;
/*
    border-left: 1px solid #D8D2C3;
    border-right: 1px solid #D8D2C3;
*/
    }
#right {
    float:left;
    width:107px;
    display:inline;
    }
#footer {
    width:100%;
    clear:both;
    }

#header_inner, #left_inner, #content_inner, #right_inner {
    overflow:hidden; /* prevents oversize elements from breaking the layout */
}


/*
 * header_div
 */
/* ##### Header DIV ##### */
#header { }

#header_inner {  }

.superHeader {
    color: #CCFF00;
    background-color: maroon;
    text-align: right;
    margin: 0;
    padding: 5px 6px;
}

.superHeader a {
    color: #CCFF00;
    font-weight: bold;
	margin: 0;
    padding-bottom:1ex;
    padding-top:2ex;
	padding-left:0.5ex;
	padding-right:0.5ex;
}

.superHeader a:hover {
    color: white;
    background-color: #CC3333;
}

.midHeader {
    color: #FFFF66;
    margin: 0;
    padding: 2px 0  0 0;
    background: #CC3333;
    min-height:120px;
    height: auto !important;
    height: 120px;
}


.headerTitle {
	font-size: 300%;
	margin: 15px 0 0 30px;
	padding: 0;
	font-style: italic;
	font-family: cursive, fantasy, serif;
}


.headerSubTitle {
	font-size: 151%;
	font-weight: normal;
	font-style: italic;
	margin: 5px 0 0 35px;
	padding: 0;
}

.subHeader {
	color: #CC3333;
	background-color: #CCFF00;
	text-decoration: none;
	font-weight: bold;
	font-size: 109%;
	/*text-align: center; */
	margin: 0;
	padding: 0.5ex 0.5ex;
}

.subHeader a {
	color: #666699;
	background-color: #CCFF00;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
    padding-bottom:1ex;
    padding-top:0.5ex;
	padding-left:1.5ex;
	padding-right:1.5ex;
}

.subHeader a:hover {
	color: white;
	background-color: #666699;
}


/*
 * content_div
 */
.float_left {float:left; margin: 0 .3em .3em 0;}      /* apply this class to any image or element with width - text will wrap it to the right */
.float_right {float:right;  margin: 0 0 .3em .3em;} /* apply this class to any image or element with width  - text will wrap it to the left */

#content_inner {
    color: black;
    background-color: white;
    text-align: justify;
    line-height: 1.5em;
    margin: 0em;
    padding: 1em;
/*    border: 2px solid #D8D2C3; */
}

#content_inner h1 {
    color: #666699;
    background-color: transparent;
    font-family: arial, verdana, helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin: 0.5em 0 1em 0;
    padding: 1em 0 0 0;
    border-bottom: 1px dashed #D8D2C3;
}

#content_inner h2, h3 {
    color: #666666;
    font-family: arial, verdana, helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}
/*
#content_inner a {
    color: #666699;
    background-color: transparent;
    text-decoration: underline;
}
*/
#content_inner a:hover {
    text-decoration: blink;
}

/* === FLASH MESSAGES === */
div#flash-notice {
    color: #333;
    border: solid 1px #bd7;
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
    background-color: #efe;
}

div#flash-warning {
    padding: 0 0 0 25px;
}

div#flash-error {
    color: red;
    border: 1px solid red;
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
    background-color: #efe;
}

/* === ERROR MESSAGES === */
#errorExplanation {
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12pt;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul {

}

#errorExplanation ul li {
    font-size: 11pt;
    list-style: square;
}

/* Error Reporting Styles */
/* === FORMS === */
div.fieldWithErrors {
    margin: 2px;
    padding: 2px;
    background-color: red;
/*    display: table; */
}

div.fieldWithErrors label {

}

div.fieldWithErrors input, div.fieldWithErrors select,
div.fieldWithErrors textarea
{

}


fieldset {
    margin: 2em 0;
    padding: 1.2em;
    padding-top: 0.4em;
    background: #eee;
    border: 1px solid #AAAAAA;
}

legend {
    color: #666699;
    font-size: 1.4em;
    padding: .4em 1em;
    background: #ddd;
    border: 1px solid #ddd;
}


form label {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 0.2em;
    width: 10em;
}

.form_row {
    white-space: nowrap;
    padding-bottom: 0.8em;
}
.submit {
    margin-left: 12em;
}
/* highlight the current input field */
input:focus {border: 2px solid blue;}


/* list */
ul, dl, ol {
    margin:0 1em .75em 1em; /* lists without specific classes */
}
li, dd {
    padding:0em 0; /* lists without specific classes */
    margin-left:1em;
}



/* Alphabetical Index */
.letter {
    width: 1em;
    text-align: center;
    border: 1px solid #666699;
    background: #fff;
    padding: 5px 2px 1px 2px;
    float: left;
    margin: 2px
}
.letter:hover {
    background: #7490AE;
    border: 1px solid #666699;
    font-weight: bold;
}
.letter_current {
    font-weight: bold;
    width: 1em;
    text-align: center;
    border: 1px solid purple;
    background: #7490AE;
    padding: 5px 2px 1px 2px;
    float: left;
    margin: 2px
}


/* Table */
table.grid {
    background: #fff;
    margin-left: 2em;
}

table.grid th {
    color: white;
    background: #666699;
    font-weight: bold;
    padding: 0.5em;
    white-space: nowrap;
}

table.grid th a {
    color: white;
    text-decoration: underline;
}

table.grid td {
    text-align: left;
    padding: 0.5em;
    white-space: nowrap;
}

table.grid tr.even {
    background: #ddd;
}

table.grid tr.odd {
    background: #eee;
}


/* Pagination */
.pagination {
    text-align: center;
    padding: .3em;
}
.pagination a, .pagination span {
    padding: .2em .5em;
}
.pagination span.disabled {
    color: #AAA;
}
.pagination span.current {
    font-weight: bold;
    color: #FF0084;
}
.pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
    border-color: #003366;
    background: #0063DC;
    color: white;
}
.pagination .page_info {
    color: #aaa;
    padding-top: .8em;
}
.pagination .prev_page, .pagination .next_page {
    border-width: 2px;
}
.pagination .prev_page {
    margin-right: 1em;
}
.pagination .next_page {
    margin-left: 1em;
}


/*
 * footer_div
 */
#footer { }

#footer_inner {
    color: black;
    background-color: #EFEFEF;
    font-size: 1em;
    text-align: center;
    line-height: 1.25em;
    margin: 0;
    padding: 1em 4mm 1em 4mm;
    clear: both;
}



/* Debug Style */

#debug {
    margin: 0.5em 1em;
    /*margin-left: auto;*/
}
#debug a, #debug a.visited {
    text-decoration: none;
    color: maroon;
}
fieldset.debug_info {
    text-align: left;
    margin: 1em;
    font-size: 0.9em;
    margin: 1em 0;
    padding: 1.2em;
    padding-top: 0.4em;
    background: #eee;
    border: 1px solid #AAAAAA;
}
fieldset.debug_info legend {
    color: #666699;
    font-size: 1.4em;
    padding: .4em 1em;
    background: #ddd;
    border: 1px solid #ddd;
}
